body {
    margin: 0;
    padding: 0;
    height: 100vh;
   
}
.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%; 
}

.grid{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: auto;
    gap: 10px;
}

.element{
    width: 100px;
    height: 100px;  
}

.red {
    background-color: #F35325;
}

.green {
    background-color: #81BC06;
}

.blue {
    background-color: #05A6F0;
}

.yellow {
    background-color: #FFBA08;
}

.shadow{
   height: 100%;
   display: flex;
   align-items: center;
  
}
.wondows{
    width: 100px;
    height: 100px;
    background-color:#f25022;
    position: relative;
    bottom:60px;
    box-shadow: 110px 110px  #7fba00,
                110px 0 #00a4ef,
                0 110px #ffb900;
    }




